html {
  font-family: helvetica;
}
/* Main Navigation */
nav {
    background: #444;
    width: 100%;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block; /* Arrange list items in horizontal line */
    list-style-type: none; /* We don't want bullets on our items */
    margin: 0;
    padding: 10px 0; /* Sets height of nav bar */
}
    nav ul li:hover {
        background: #03ADDF; /* Items' hover bg color */
    }

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 12px;
}
nav ul li a:hover {
	color: #fff;
	text-decoration: none;
}

h1 {
  font-size: 60px;  
  margin: 0;
  padding: 20px 0;    
}


#date {
  font-size: 10px;
  font-style: italic;
  font-weight: bold;
  color: #000080;

}

p {
  font-size: 16px;    
  line-height: 2;
  letter-spacing: 1px;
  font-family: "Open Sans", sans-serif; 
  color:#000000;
}


